<!-- Hashtags -->
<div class="widget-container boxed">
  <div class="inner">
    <h3 class="widget-title">
      Top Hashtags
      <div class="tip">
          <img src="/assets/images/info.png">
          <div class="tiptext">
          	<p>[Click on a bar to see the relevant tweets]</p>
            <p>Hashtags mostly frequently mentioned in tweets (excluding #<span class="hashtag_replace"></span>)</p>
          </div>
      </div>
    </h3>
      <div class="chart-stage" id="hashtag_chart"></div>
  </div>
</div>

<script type="text/javascript">
function makeHashtagChart() {
  var all_tags = new Array()
  all_tags[i] = new Array()

  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Hashtag');
  data.addColumn('number', 'Count');

  for (i = 0; i < days.length; i++) {
    for (j = 0; j < days[i].top_hashtags.length; j++) {
      data.addRow([
        days[i].top_hashtags[j]._id,
        days[i].top_hashtags[j].count
      ])
    }
  }

  data = google.visualization.data.group(data, [0], [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}])
  data.sort({column:1, desc:true})
  data.removeRows(10, data.getNumberOfRows() - 10)

  var chart = new google.charts.Bar(document.getElementById('hashtag_chart'));

  google.visualization.events.addListener(chart, 'select', function() {
    var target = data.getValue(chart.getSelection()[0].row, 0)
    window.open("https://twitter.com/search?f=tweets&q=%23"+target+"%20%23"+hashtag+"&src=typd")
  })

  chart.draw(data, barOptions);
};
</script>