<head>
	<meta charset="utf-8">
	<meta name="author" content="Ryerson University Social Media Lab">
	<meta name="keywords" content="twitter, dashboard, #cdnpoli">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cache-control" content="public">
	<meta http-equiv="cache-control" content="max-age=86400">

	<title>Twitter Analytics Dashboard</title>
  <link rel="icon" type="image/png" href="/cdnpoli/assets/images/PD.png">

	
  <!-- Shapes Template -->
  <script src="/assets/shapes/js/libs/modernizr.min.js"></script>
	<script src="/assets/shapes/js/libs/jquery-1.10.2.min.js"></script>
	<script src="/assets/shapes/js/libs/jquery-ui.min.js"></script>
	<script src="/assets/shapes/js/libs/bootstrap.min.js"></script>
	<script src="/assets/shapes/js/general.js"></script>
	<script src="/assets/shapes/js/jquery.slicknav.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.menu').slicknav();
    });
  </script>
	<link href="/assets/shapes/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
 	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
</head>