<header>
  <!-- PLACE YOUR CUSTOM HEADER HERE -->
</header>

<!--menu-->
<div class="row">
    <div class="col-sm-12">
      <div class="menu boxed">
        <ul class="pull-left">
          <li>
            <a href="https://polidashboard.ca/"><span>TWITTER ANALYSIS DASHBOARD: <span class="hashtag_replace"></span></span></a>
          </li>
        </ul>
        <ul class="pull-right">
          
          <li>
            <a href="#">
              <span>Select Timeframe</span>
            </a>
            <ul>
              <li class="week"><a href="?startDay=7"><span>1 week</span></a></li>
              <li class="week"><a href="?startDay=14"><span>2 weeks</span></a></li>
              <li class="week"><a href="?startDay=21"><span>3 weeks</span></a></li>
              <li class="month"><a href="?startDay=28"><span>1 month</span></a></li>
              <li class="month"><a href="?startDay=56"><span>2 months</span></a></li>
              <li class="month"><a href="?startDay=84"><span>3 months</span></a></li>
              <li class="month"><a href="?startDay=112"><span>4 months</span></a></li>
            </ul>
          </li>

          <li>
            <a href="https://polidashboard.ca/about"><span>About</span></a>
          </li>
        </ul>
      </div>
    </div>
</div>
<!--/menu-->