<!-- Entities -->
<div class="widget-container boxed">
  <div class="inner">
    <h3 class="widget-title">
      Weekly Activity
      <div class="tip">
          <img src="/assets/images/info.png">
          <div class="tiptext">
          	<p>Shows total use of #cdnpoli each hour of the week during your selected timeframe.
          </div>
      </div>
    </h3>
      <div class="chart-stage" id="ranked_entity_chart"></div>
  </div>
</div>

<script type="text/javascript">
  function setup() {
    var width = $(".").width();
    canvas = createCanvas()
  }
</script>